@model Cohortis.Models.PlayerModel

@{
    ViewData["Title"] = "Home Page";
}


<ul id="playerList" class="player-list">
    <li class="player-list-item">
        <div class="player-name">
            Jupotter
        </div>
        <div class="build-list-container">
            <ul class="build-list">
                <li class="build-list-item">
                    Le Lance FLAAAMES
                </li>
                <li class="build-list-item">
                    You Shall not Pass
                </li>
            </ul>
        </div>
        <div style="clear: both;"></div> 
    </li>
</ul>

@section scripts {
    <script type="text/javascript">
        function bindData(element, data) {
            return;
            $('<li/>')
                .addClass('list-group-item')
                .text('Players')
                .appendTo(element);
            $.each(data, function (id, option) {
                $('<li/>')
                    .addClass('list-group-item')
                    .text(option.Name)
                    .appendTo(element);
            });
        };
        $(document).ready(function () {
                $.ajax({
                    url: "/api/v1/player",
                    data: "",
                    type: "GET",
                    success: function (data) {bindData($("#playerList"), data);
                    }
                });
        });
    </script>
}