
body {
    font-family: Arial, sans-serif
}

.player-list {
    padding: 10px
}

.player-list-item {
    display: block;
    border: 1px solid #DDD;
    padding: 0px;
    padding-right: 0px;
    position:relative
}

.player-list-item:hover {
    background-color:grey
}

.player-name {
    width: 49%;
    position: absolute;
    padding-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
}

.build-list-container {
    width: 50%;
    float: right;
}

.build-list-item-Engineer:hover {
    background-color:antiquewhite
}

.build-list-item-Elementalist:hover {
    background-color:crimson
}

.build-list-item-Necromancer:hover {
    background-color:azure
}

.build-list-item-Warrior:hover {
    background-color:gold
}

.build-list {
    padding: 0px;
}

.build-list-item {
    display: block;
    border: 1px solid #DDD;
    padding: 10px;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: -1px;
}

.class-icon{
    padding: 2px
}

.player-details {
    margin: 10px;
    padding: 10px;
    border: 1px solid #DDD
}

.player-details h2{
    margin-top: 0px
}

.player-details table, th, td{
    border: 1px solid black;
}

.player-details th, td{
    padding: 5px;
}

.build-details {
    margin: 10px;
    padding: 10px;
    border: 1px solid #DDD
}

.build-details h2{
    margin-top: 0px
}


.description{
    white-space: pre-wrap;
}