
body {
    font-family: Arial, sans-serif
}

.player-list {
}

.player-list-item {
    display: block;
    border: 1px solid #DDD;
    padding: 0px;
    padding-right: 0px;
    position:relative
}

.player-name {
    width: 49%;
    position: absolute;
    padding-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
}

.build-list-container {
    width: 50%;
    float: right;
}

.build-list {
    padding: 0px;
}

.build-list-item {
    display: block;
    border: 1px solid #DDD;
    padding: 10px;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: -1px;
}

.class-icon{
    padding: 2px
}